body{
    background: url(/img/dashboard-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
#preloader{
    background: #ebebeb url(/img/preloader/preloader.gif) no-repeat center center;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 1000;
   
}
.sidenav-header{
    text-align: center;
}
.profile-img-container{
    border: 2px solid #0ca53a;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    overflow: hidden;
    padding: 0;
}
.profile-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
}
h6.user-name{
    margin-top: 2vh;
    margin-bottom: -10px;
    color: rgb(20, 20, 20) !important;
    font-size: 1.3vw !important;
}
p.user-email{
    font-size: 12px !important;
}
.nav-horizontal{
    border: 1px solid #2EB757;
}
.tab{
    box-shadow: 0 2px 5px rgba(182, 182, 182, 0.75);
}
a.nav-link{
    color: rgb(20, 20, 20) !important;
}
span.nav-link-text{
    font-size: 15px !important;
}
.icon{
    width: 2vw !important;
}
.fa-house, .fa-cart-shopping, .fa-user, .fa-bell, .fa-power-off{
    font-size: 1.4vw !important;
    color: #0ca53a !important;
}
.active{
    background-color: #2EB757 !important;
    box-shadow: 0 2px 5px rgba(182, 182, 182, 0.75);
    color: white !important;
}
.nav-logout{
    border-radius: 15px !important;
}
.user-dash-logo{
    width: 10vw;
    margin-left: -3vw !important;
}
.welcome-message{
    color: black !important;
    font-size: 2vw !important;
    font-weight: 350 !important;
    margin-bottom: -10px;
}
.search-input{
    border: 1px solid #7e7e7e !important;
    border-radius: 15px !important;
    width: 15vw !important;
    padding: 6px 10px !important;
}
.search-input:focus{
    border: 1px solid #0ca53a !important;
}
.nav-cart{
    color: #d46d0b !important;
}
.nav-bell{
    color: #0c68a5 !important;
}
.nav-power{
    color: #491815 !important;
}
.logout-btn{
    border: none !important;
    background-color: #ebebeb !important;
}
nav.navbar-main{
    border-bottom: 1px solid gray;
    border-radius: 0;
}

/* main */

.main-content{
    height: 100vh;
    width: auto;
    overflow-y: scroll;
    overflow-x: hidden;
}

@font-face {
    font-family: Lucida;
    src: url('/assets/fonts/LucidaHandwritingStdBold.TTF')  format('truetype');
}

.lsfp{
    font-family: Lucida;
    color: #000000;
    font-size: 2.5vw !important;
}
h1.lsfp{
    font-weight: bolder !important;
    font-size: 5vw !important;
    color: #491815;
}
p.lsfp-tagline{
    font-family: Lucida;
    color: #b60909;
    font-size: 2vw;
}
section.title{
    border-bottom: 2px solid grey;
    border-radius: 0;
}

/* product card */

.swiper-title{
    color: #491815;
    font-size: 1.5vw;
}
.browse-all-text{
    font-size: 1.2vw !important;
    color: #000000 !important;
}
 .slide-container{
    width: 15vw !important;
 }
 div.cat-card, div.product-card{
    border-radius: 15px;
    width: 230px;
    height: 335px !important;
    box-shadow: 1px 2px 5px #491815;
    overflow: hidden;
 }
 img.product-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
 }
 .product-name{
    font-size: 1.2vw !important;
 }
img.product-img:hover{
    transform: scale(1.02);
    transition-duration: 1s;
    cursor: pointer;
 }
 div.product-cat{
    position: absolute;
    bottom: 5vh;
 }
 div.product-card{
    background-color: #EBEBEB;
    height: 43vh;
 }
 div.product-img-container{
    overflow: hidden;
    height: 22vh;
 }
.product-name{
    color: #491815;
}
.product-cat-name{
    font-size: 0.8vw !important;
}
.product-price{
    margin-top: -2vh;
}
.product-act-price{
    font-size: 1.2vw;
}
.rating-container{
    font-size: 10px;
    margin-top: -1.8vh !important;
}

.buy-btn, .add-cart-btn{
    background-color: #F68010;
    font-size: 8px !important;
}
.add-cart-btn:hover{
    background-color: #0baf3c;
    font-size: 8px !important;
}

/* sweetalert custom */
div.swal2-popup{
    border-radius: 15px !important;
    padding: 20px !important;
    box-shadow: 1px 2px 5px #491815;
}
h2.swal2-title{
    font-size: 24px !important;
}
div.swal2-icon{
    width: 70px !important;
    height: 70px !important;
}
button.swal2-confirm, button.swal2-cancel{
    border-radius: 15px !important;
    padding: 5px 10px;
}
button.swal2-confirm{
    background-color:  #28a745 !important;
}
button.swal2-cancel{
    background-color: #007bff !important;
}

/* //////////////////// ORDERS PAGE ///////////////////// */

.card-tab-icon{
    font-size: 50px !important;
}



/* //////////////////// PROFILE PAGE ///////////////////// */
.profile-card-header{
    height: 13vh !important;
}

.profile-img-container-lg{
    border: 2px solid #ffffff;
    border-radius: 50%;
    height: 120px !important;
    width: 120px !important;
    overflow: hidden;
    margin-bottom: -16vh !important;
}

.profile-text-container-lg{
    margin-bottom: -21vh !important;
}
.profile-input-form{
    border: 1px solid #8f8f8f !important;
    border-radius: 15px !important;
    font-size: 1.3vw !important;
    padding: 5px 10px !important;
}
.profile-edit-icon{
    color: #ffffff !important;
    font-size: 2.3vw !important;
}
.text-name{
    font-size: 2vw !important;
}

/* ///////////// Modal Edit Profile ////////////// */
                     
.profile-upload-icon{
    position: absolute;
    color: #ffffff;
    font-size: 1.3vw;
    left: 7px !important;
    top: 30px !important;
    text-align: center;
    cursor: pointer;
}
.modal-update-btn, .modal-cancel-btn{
    border-radius: 15px !important;
}
div.modal{
    width: 90vw !important;
    height: auto !important;
    left: 15vw;
}
div.modal-content{
    background: rgba(0, 0, 0, 0);
    border: none;
}
.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    max-height: calc(100vh - 50px);
    overflow-y: auto;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0);
}
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

div.profile input{
    font-size: 1.1vw !important;
}

/* /////////////////////////////////////// */

@media (max-width: 1366px) {
   
    /* HOME SECTION */

    h4.lsfp{
        font-size: 2vw !important;
    }
    h1.lsfp{
        font-size: 4.5vw !important;
    }
    p.lsfp-tagline{
        font-size: 1.8vw !important;
    }

    div.cat-card, div.product-card{
        width: 220px;
        height: 305px !important;
     }


}