body{
    background: url(/img/dashboard-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}


#preloader{
    background: #ebebeb url(/img/preloader/preloader.gif) no-repeat center center;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 1000;
   
}
.sidenav-header{
    text-align: center;
}
.profile-img-container{
    border: 2px solid #0ca53a;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    overflow: hidden;
    padding: 0;
}
.profile-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
}
h6.user-name{
    margin-top: 22px;
    margin-bottom: -10px;
    color: rgb(20, 20, 20) !important;
    font-size: 18px !important;
}
p.user-email{
    font-size: 12px !important;
}
.nav-horizontal{
    border: 1px solid #2EB757;
}
.tab{
    box-shadow: 0 2px 5px rgba(182, 182, 182, 0.75);
}
a.nav-link{
    color: rgb(20, 20, 20) !important;
}
span.nav-link-text{
    font-size: 15px !important;
}
.icon{
    width: 24px !important;
}
.fa-house, .fa-cart-shopping, .fa-user, .fa-bell, .fa-power-off{
    font-size: 20px !important;
    color: #0ca53a !important;
}
.active{
    background-color: #2EB757 !important;
    box-shadow: 0 2px 5px rgba(182, 182, 182, 0.75);
    color: white !important;
}
.nav-logout{
    border-radius: 15px !important;
}
.user-dash-logo{
    width: 125px;
    margin-left: -30px !important;
}
div.welcome-message{
    position: absolute;
    right: 5px;
    top: 80px;
    z-index: 100;
    height: 55px;
    width: 300px;
    padding: 15px 10px;
}
.search-input{
    border: 1px solid #b4b4b4 !important;
    border-radius: 15px !important;
    width: 230px !important;
    padding: 6px 10px !important;
    display: none !important;
}
.search-input:focus{
    border: 1px solid #0ca53a !important;
}
.nav-cart{
    color: #d46d0b !important;
}
.nav-bell{
    color: #0c68a5 !important;
}
.nav-power{
    color: #491815 !important;
}
.logout-btn{
    border: none !important;
    background-color: #ebebeb !important;
}
nav.navbar-main{
    border-bottom: 1px solid gray;
    border-radius: 0;
}

/* main */

.main-content{
    height: 100vh;
    width: auto;
    overflow-y: scroll;
    overflow-x: hidden;
}
.swiper-header{
    margin-top: 10px !important;
}
@font-face {
    font-family: Lucida;
    src: url('/assets/fonts/LucidaHandwritingStdBold.TTF')  format('truetype');
}

.lsfp{
    font-family: Lucida;
    color: #000000;
    font-size: 24px !important;
}
h1.lsfp{
    font-weight: bolder !important;
    font-size: 50px !important;
    color: #491815;
}
p.lsfp-tagline{
    font-family: Lucida;
    color: #b60909;
    font-size: 18px;
}
section.title{
    border-bottom: 2px solid grey;
}

/* product card */
.top-products-swiper{
    height: 320px !important;
}
.swiper-title{
    color: #491815;
    font-size: 20px;
}
.browse-all-text{
    font-size: 16px !important;
    color: #000000 !important;
}
div.cat-card, div.product-card{
    border-radius: 15px;
    width: 230px;
    height: 330px !important;
    box-shadow: 1px 2px 5px #491815;
    overflow: hidden;
 }
 img.product-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
 }
 .product-name{
    font-size: 16px !important;
 }
img.product-img:hover{
    transform: scale(1.02);
    transition-duration: 1s;
    cursor: pointer;
 }
 div.product-cat{
    position: absolute;
    bottom: 15px;
 }
 div.product-card{
    background-color: #EBEBEB;
    height: 305px !important;
 }
 div.product-img-container{
    overflow: hidden;
    height: 140px;
 }
.product-name{
    color: #491815;
}
.product-price{
    margin-top: 0px !important;
}

.rating-container{
    font-size: 10px !important;
    margin-top: -10px !important;
}
.rating-text{
    font-size: 12px !important;
}

.buy-btn, .add-cart-btn{
    background-color: #F68010;
    font-size: 8px !important;
}
.add-cart-btn:hover{
    background-color: #0baf3c;
    font-size: 8px !important;
}

/* sweetalert custom */
div.swal2-popup{
    border-radius: 15px !important;
    padding: 20px !important;
    box-shadow: 1px 2px 5px #491815;
}
h2.swal2-title{
    font-size: 24px !important;
}
div.swal2-icon{
    width: 70px !important;
    height: 70px !important;
}
button.swal2-confirm, button.swal2-cancel{
    border-radius: 15px !important;
    padding: 5px 10px;
}
button.swal2-confirm{
    background-color:  #28a745 !important;
    width: 100px !important;
}
button.swal2-cancel{
    background-color: #007bff !important;
}

/* //////////////////// ORDERS PAGE ///////////////////// */

.card-tab-icon{
    font-size: 50px !important;
}



/* //////////////////// PROFILE PAGE ///////////////////// */
.profile-card-header{
    height: 95px !important;
}

.profile-img-container-lg{
    border: 2px solid #ffffff;
    border-radius: 50%;
    height: 120px !important;
    width: 120px !important;
    overflow: hidden;
    margin-bottom: -100px !important;
}

.profile-text-container-lg{
    margin-bottom: -130px !important;
}
.profile-input-form{
    border: 1px solid #8f8f8f !important;
    border-radius: 15px !important;
    font-size: 1.3vw !important;
    padding: 5px 10px !important;
}
.profile-edit-icon{
    color: #ffffff !important;
    font-size: 35px !important;
}
.text-name{
    font-size: 28px !important;
}

/* ///////////// Modal Edit Profile ////////////// */
                     
.profile-upload-icon{
    position: absolute;
    color: #ffffff;
    font-size: 18px;
    left: 15px !important;
    top: 30px !important;
    text-align: center;
    cursor: pointer;
}
.profile-upload-icon:hover{
    color: #0baf3c !important;
}
.modal-update-btn, .modal-cancel-btn{
    border-radius: 15px !important;
}
div.modal{
    width: 1200px !important;
    height: auto !important;
    margin-left: 240px;
}
div.modal-content{
    background: rgba(0, 0, 0, 0);
    border: none;
}
.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    max-height: calc(100vh - 50px);
    overflow-y: auto;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0);
}
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

div.profile input{
    font-size: 16px !important;
}

/* /////////////// ADMIN PAGES ////////////  */

/* Dashboard  */

div.top-p-container{
    height: 345px;
    max-height: 345px !important;
}
div.p-main-container{
    height: 350px;
    max-height: 350px !important;
    overflow-y: scroll;
    overflow-x: hidden;
}
div.p-container{
    box-shadow: 1px 2px 5px #491815;
}
.top-product-text{
    padding-bottom: -10px !important;
}

canvas.chart-canvas{
    height: 250px !important;
}
.graph-card{
    height: 320px !important;
}

.p-image{
    width: auto !important;
    height: 60px !important;
    margin: 0 !important;
}

div.star-ratings{
    padding-top: 50px;
    font-size: 12px;
}
a.card-nav:hover{
    color: #0aa137 !important;
}
/* ///////////////// table style ///////////////// */


/* add category */
input.category-checkbox{
    border-color: #0aa137 !important;
    background-color: none !important;
}
input[type="checkbox"].category-checkbox:checked{
    border-color: #0aa137 !important;
    background-color: #0aa137 !important;
}
/* add sale page */
.display-card{
    border-left: 1px solid #818181;

}
/* /////////////////////////////////////// */
/* pagination */

.page-item.active{
    background: none !important;
    box-shadow: none !important;
}
.page-item.active span{
    background-color: #0baf3c !important;
    border: 1px solid #0b9133 !important;
    
}

/* Sweet Alert customs */
.swal2-success-line-tip, .swal2-success-line-long {
    font-size: 14px !important;
  }

.swal2-x-mark-line-right, .swal2-x-mark-line-left {
    font-size: 14px !important;
  } 

  /* start Rating Color */

  i.checked{
    color: #ffc107;
  }


@media screen and (max-width:767px){
    /* .welcome-message{
        display: none !important;
    } */
    .user-dash-logo{
        width: 100px;
        margin-left: -30px !important;
    }
    .nav-cart, .nav-bell, .nav-power, .nav-user{
        font-size: 18px !important;
    }
    .sidenav-toggler-line{
        width: 25px;
        height: 3px !important;
    }

    .lsfp{
        font-size: 18px !important;
    }
    h1.lsfp{
        font-weight: bolder !important;
        font-size: 40px !important;
    }
    p.lsfp-tagline{
        font-size: 14px;
    }
   
    .swiper-header{
        margin-top: 20px !important;
    }
    .swiper-title{
        font-size: 18px;
    }
    .browse-all-text{
        font-size: 14px !important;
    }

    div.cat-card, div.product-card{
        width: 200px;
        height: 300px !important;
    }
    .product-price{
        font-size: 16px;
    }
    .product-selling-price{
        font-size: 18px;
    }
    /* profile page */

    .profile-img-container-lg{
        height: 80px !important;
        width: 80px !important;
        overflow: hidden;
        margin-bottom: -130px !important;
    }
    .profile-text-container-lg{
        margin-bottom: -150px !important;
    }
    .edit-profie-icon{
        right: -10px;
        top: 10px;
    }
    .profile-edit-icon{
        font-size: 30px !important;
    }
    .text-name{
        font-size: 24px !important;
    }
    div.modal{
        width: 385px !important;
        height: auto !important;
    }
    

    /* Admin */
    .search-input{
        width: 200px !important;
    }
   /* add sales */
    .display-card{
        border-left: 1px solid #bdbdbd;
    
    }

}


@media screen and (min-width:768px) and (max-width: 1023px){


}


@media screen and (min-width:1440px){
    .lsfp{
        font-size: 34px !important;
    }
    h1.lsfp{
        font-weight: bolder !important;
        font-size: 68px !important;
    }
    p.lsfp-tagline{
        font-size: 30px;
    }
    canvas.chart-canvas{
        height: 380px !important;
    }
    .graph-card{
        height: 455px !important;
    }
    div.top-p-container{
        height: 480px;
        max-height: 480px !important;
    }
    div.p-main-container{
        height: 420;
        max-height: 420px !important;
    }

    /* manage acc page */

    .admin-account-cards{
        height: 650px !important;
    }
    
    /* add sales */
    .display-card{
        border-left: 1px solid #bdbdbd;
        margin-left: -20px !important;
    
    }

    /* product card */
    .buy-btn, .add-cart-btn{
        background-color: #F68010;
        font-size: 10px !important;
    }
    .add-cart-btn:hover{
        background-color: #0baf3c;
        font-size: 10px !important;
    }

    /* //////////// */
    /* View product page */
    .product-img img{
        width: 100px;
    }


    

}
