
*{
    margin: 0;
    padding: 0;
}
nav{
    position: fixed;
    padding-top: 2vh !important;
}
body{
    overflow: hidden;
    position: fixed;
}
a:hover{
    color: #0aa137;
}

#preloader{
    background: #ebebeb url(/img/preloader/preloader.gif) no-repeat center center;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 1000;
   
}
div.leaves img{
    transform: scaleX(-1);
    width: 15vw;
    position: fixed !important;
    left: 20vw;
    top: 0vh;
}

/* Navbar */

.logo{
    width: 10vw;
}

a.nav-btn{
    font-size: 1.4vw !important;
    color: black;
    font-weight: 450;
}
a.nav-btn:hover{
    font-weight: 500;
}
button.nav-btn-contact{
    border: 1px solid #2EB757;
    border-radius: 20px;
    background-color: #2EB757;
    font-weight: 450;
    padding: 0;
}

button.nav-btn-contact:hover{
    background-color: #178c3a;
}

a.nav-btn-con{
    color:#491815 !important;
    font-size: 1.3vw !important;
    font-weight: 500 !important;
    text-transform: capitalize;
}

i.fa-bars{
    font-size: 4vw;
    border: none;
    color: #491815;
}
.active{
    font-weight: bold;
}

/* section */

div.page-container{
    background: url(/img/landing-page-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-padding-top: 11vh;
}
section{
    height: 100%;
    width: 100%;
    scroll-snap-align: start;
}
section#home{
    margin-top: 11vh;
}
/* search */
form.search-container{
    display: flex;
}
button.search-btn{
    background-color: #2EB757;
    color: #ffffff;
    border-radius: 15px;
    margin-left: -68px;
    height: 5.5vh;
}
button.search-btn:hover{
    background-color: #0fcf49 !important;
    opacity: 100%;
    color: #ffffff !important;
}
input.search-input{
    border-radius: 15px;
    border: 1px solid #0bc944;
    padding: 10px !important;
    padding-right: 73px !important;
    font-size: 1vw;
    height: 5.5vh;
    width: 80vw !important;
}
input.search-input:focus{
    border: 2px solid #0bc944;
}

.fa-magnifying-glass{
    font-size: 1.3vw;
}

/* Alert message */
div.alert-message{
    bottom: 70vh;
    right: 75vw;
    left: 5vw;
    top: 10vh;
    z-index: 100 !important;
}
/* card */
.card{
    width: 20vw;
    height: auto;
}

/* forms */

.login-bg-color{
    background-color: #491815 !important;
}

.login-btn,.signup-btn,.setupadd-btn,.verify-btn{
    background-color: #2EB757;
    color: #EBEBEB;
}
.login-btn:hover,.signup-btn:hover,.setupadd-btn:hover,.verify-btn:hover{
    background-color: #178c3a;
    color: #EBEBEB;
}
.cancel-btn{
    background-color: #CFA4A2;
    color: #EBEBEB;
}
.resend-btn{
    background-color: #d46d0b;
    color: #EBEBEB;
}
.resend-btn:hover{
    background-color: #b45b07;
    color: #EBEBEB;
}
.cancel-btn:hover{
    background-color: #a57875;
    color: #EBEBEB;
}

.login-link{
    color: #226ee0 !important;
    text-decoration: none;
    font-size: 1vw;
}
.login-link:hover{
    color: #09377c;
}
p.d-account{
    font-size: 1.1vh;
}
div.reg-card{
    margin-top: -30px !important;
}
div.card-body input{
    border: 1px solid #a09f9f !important;
}
div.card-body input:focus{
    border: 1px solid #0bc944 !important;
}
/* set font */
@font-face {
    font-family: Lucida;
    src: url('/assets/fonts/LucidaHandwritingStdBold.TTF')  format('truetype');
}

/* business name / tagline */
.lsfp-container{
    padding-right: 1vw;
    padding-left: 2.5vw;
}
.lsfp{
    font-family: Lucida;
    color: #000000;
    font-size: 2.5vw !important;
}
h1.lsfp{
    font-weight: bolder !important;
    font-size: 5vw !important;
    color: #491815;
}
p.lsfp-tagline{
    font-family: Lucida;
    color: #b60909;
    font-size: 2vw;
}
p.lsfp-desc{
    font-family: Lucida;
    color: #000000;
    font-size: 1vw;
    padding-left: 5vw;
    padding-right: 2vw;
}
div.cacao img{
    width: 25vw;
    height: auto;
    position: relative;
    left: 18vw;
    bottom: 12vh;
}
button.explore-btn{
    background-color: #F68010;
    color: #000000;
    font-size: 1vw;
}
button.explore-btn:hover{
    background-color: #d46d0b;
    color: #000000;
}
.datepicker{
    border: 2px solid #0ca53a !important;
    border-radius: 15px !important;
}
.datepicker thead, tbody{
    color: #491815 !important;
}
.datepicker thead{
    border-bottom: 1px solid #d46d0b;
}
 /* ///////////////////////  CATEGORY SECTION    /////////////////////// */
 .swiper-title{
    color: #491815;
    font-size: 2vw;
}
 .slide-container{
    width: 18vw !important;
 }
 div.cat-card, div.product-card{
    border-radius: 15px;
    width: 18vw;
    height: 50vh;
    box-shadow: 1px 2px 5px #491815;
    overflow: hidden;
 }
 div.cat-card img,  img.product-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
 }
 div.cat-card img:hover,  img.product-img:hover{
    transform: scale(1.02);
    transition-duration: 1s;
    cursor: pointer;
 }
 div.product-cat{
    position: absolute;
    bottom: 5vh;
 }
 div.product-cat h5{
    color: #EBEBEB !important;
    font-weight: 400;
 }
 div.product-card{
    background-color: #EBEBEB;
    height: 55vh;
 }
 div.product-img-container{
    overflow: hidden;
    height: 28vh;
 }
.product-name{
    color: #491815;
}
.product-price{
    margin-top: -2vh;
}
.rating-container{
    font-size: 14px;
}

.buy-btn{
    background-color: #F68010;
    font-size: 12px !important;
}
.add-cart-btn:hover{
    background-color: #0baf3c;
    font-size: 12px !important;
}

/* /////////////////////////////////////////// */

fieldset.about-container{
    margin-top: 7vh;
    border: 2px solid #a09f9f;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 75vh;
    padding: 2vh 5vw;
    background-color: rgba(201, 201, 201, 0.29);
    border-radius: 15px;
}
fieldset.contact-container{
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 7vh;
    border: 2px solid #a09f9f;
    height: 70vh;
    padding: 2vh 5vw;
    background-color: rgba(201, 201, 201, 0.29);
    border-radius: 15px;
}
legend{
    float: none !important;
    width: auto;
}
.about-title, .contact-title{
    font-size: 1.3vw;
    width: 10vw;
    border: 1px solid #EBEBEB !important;
    border-radius: 15px;
    padding: 5px 0px !important;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
}
p.about-text{
    text-indent: 5vw;
    color: #491815;
    font-size: 1.3vw;
    text-align: justify;
    font-weight: 400;
}
.owner-container{
    text-align: center !important;
}
.owner-name{
    font-size: 2.2vw;
    color: #111111;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
}
.position{
    text-align: center;
    margin-top: -5px !important;
    font-size: 1.2vw;
    color: #111;
}
.fa-facebook,.fa-envelope,.fa-phone{
    font-size: 3vw;
}
.fa-facebook{
    color: #226ee0;
}
.fa-facebook:hover{
    color: #367de7;
}
.fa-envelope{
    color: #F68010;
}
.fa-envelope:hover{
    color: #ee9644;
}
.fa-phone{
    color: #0ca53a;
}
.fa-phone:hover{
    color: #12d14b;
}
.fa-location-dot{
    color: #b60909;
    font-size: 3.7vw;
}
.fa-location-dot:hover{
    color: #db0e0e;
}
.contact-sub-title{
    color: #491815;
    font-family: Lucida;
}
a.contact{
    font-size: 1.4vw !important;
}
a.contact:hover{
    color: #111111;
    font-weight: 500;
}
.email-input-form{
    border: 1px solid #525151 !important;
}
.email-input-form:focus{
    border: 1px solid #0baf3c !important;
}
.email-textarea{
    height: 18vh;
}
.footer-text,.terms{
    font-size: 1.3vw;
    color: #491815 !important;
}
span.copy{
    color: #F68010;
}


/* ///////////////// */
a.card-nav:hover{
    color: #0aa137 !important;
}

/* mobile view */
@media (max-width: 320px) {
    
}
/* ipad/tablet view */
@media (max-width: 767px) {
    
}

@media (max-width: 1366px) {
    /* HOME SECTION */
    div.search-container{
        padding-top: 5vh !important;
    }
    h4.lsfp{
    font-size: 2.5vw !important;
    }
    h1.lsfp{
    font-size: 4.9vw !important;
    }
    p.lsfp-tagline{
    font-size: 2vw !important;
    }
    p.lsfp-desc{
    font-size: 0.9vw !important;
    }
    a.explore-btn{
    font-size: 1.0vw !important;
    }
    div.cacao img{
    width: 20vw !important;
    height: auto;
    }

    /* CONTACT US SECTION */
    
    H3.contact-sub-title{
        font-size: 2vw !important;
    }
    div.contact-header{
        margin-bottom: 3vh !important;
    }
    div.input-container{
        margin-left: 2vw !important;
    }

    
    
}

@media (max-width: 1440px) {
   


}

